.banner {
    background-color: #cc9bdc;
    margin: 70px 0 0 0;
    display: inline-flex;
    width: 100%;
}

.banner-info {
    margin: 120px 0 220px 0;
    text-align: -webkit-center;
}

.banner-info,
p {
    width: 60%;
}

.banner-title {
    margin: 0 0 20px 0;
}

.banner-image {
    width: 300px;
    border: double;
    border-radius: 50px 0px 50px 0px;
    margin: 150px 0px 0px 40px;
}

.banner-button-options {
    margin: 40px 0 0 0;
    display: inline-flex;
}