.banner {
    background-color: #A396D1;
    margin: 70px 0 0 0;
    width: 100%;
    height: 900px;
}

.banner-info {
    display: flex;
    justify-content: center;
}

.banner-button-options {
    margin: 200px 0 0px 0;
    transform: translate(33%, -168%);
}

.banner-main {
    width: 100%;
    margin: -30px 0 0 0;
}

.banner-button,
a:hover {
    background-image: none !important;
}