.about {
    display: inline-flex;
}

.about-title {
    margin: 60px 0 0 100px;
}

.about-description {
    width: 60%;
    margin: 30px 0 0 100px;
}

.about-image {
    width: 300px;
    border: double;
    border-radius: 20px;
    margin: 150px 200px 0px 0px;
}

.about-button {
    margin: 40px 0 100px 100px;
}