.about {
    display: inline-flex;
}

.about-description {
    width: 40%;
    margin: 30px 200px 0 100px;
    text-align: initial;
}

.about-image {
    width: 300px;
    border: double;
    border-radius: 20px;
    margin: 40px 0px 0px 0px;
}

.about-options {
    display: inline-flex;
    margin: 60px 0px 40px 200px;
}

.about-options-image {
    width: 160px;
    margin: 0 0 30px 0;
}

#about-options-title {
    font-weight: bold;
}