.modal {
    background-color: #00000059;
}

.modal-content {
    height: 500px;
}

.modal-projects-body {
    padding: 20px;
    padding: 10px 30px 30px 30px;
}

.modal-header {
    border: none !important;
    background-color: #E3DFF1;
}

.modal-body {
    background-color: #E3DFF1;
    padding: 0px;
}

.modal-projects-title {
    color: #255932;
}